body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    background-image: url("Kiran.jpg");
    background-size: cover;
    background-position: center;
    inline-size: 100px;
    block-size: 100px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 20px;
    margin: 20px;
}

footer {
    position:absolute;
    inset-block-end:0;
    inline-size:100%;
    block-size:60px;   /* Height of the footer */
    background:#333;
    color: #fff;
    text-align: center;
}